* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background-color: #000000;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.hello {
    background-color: #e9008c;
    position: relative;
    height: auto;
    width: auto;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.hello:hover {
    box-shadow: 25px 25px 2px 1px rgb(7, 19, 219);
}

.hello-txt{
    font-family: 'JetBrains Mono', monospace;
    font-size: 2.5em;
    color: #ffffff;
    margin: 0 auto;
}
